.font-weight
    &__bold
        font-weight: 500

text text-size__small text-transform__uppercase

.text
    &.text-size
        &__small
            font-size: 13px
    
    &.text-transform
        &__uppercase
            letter-spacing: 1.5px

    &-header
        font-size: 24px
        text-transform: capitalize

        &:hover
            cursor: pointer