@use '@angular/material' as mat
    
.font-weight
    &__bold
        font-weight: 500

.text
    &.text-size
        &__x-small
            font-size: 10px
        &__small
            font-size: 13px
        &__large
            font-size: 24px
    
    &.text-transform
        &__spacing
            letter-spacing: 1.5px
        &__uppercase
            letter-spacing: 1.5px
            text-transform: uppercase
    
    &.text-icon
        &__small
            height: 15px
            width: 15px
            font-size: 15px

    &.text-hover
        transition: .3s color ease-in-out
        color: rgba(255, 255, 255, 0.4)
        
        &:hover
            color: rgba(255, 255, 255, 1)
            

    &-header
        font-weight: 500
        font-size: 24px
        text-transform: capitalize

        &:hover
            cursor: pointer

        & mat-icon
            height: 18px
            width: 18px
            font-size: 18px
            transition: .3s opacity ease-in-out
            color: mat.get-color-from-palette(mat.$blue-grey-palette, 900)
            opacity: 0.3 

        &:hover mat-icon
            opacity: 1
            color: mat.get-color-from-palette(mat.$blue-grey-palette, 900)

    &.text-chip
        &__icon
            &--small
                font-size: 16px
                width: 16px
                height: 16px